---
import Header from '../components/Header.astro'
import PokemonCard from '../components/PokemonCard.astro';
import Layout from '../layouts/Layout.astro';
import { getPokemons } from '../services/fetching'

let data = await getPokemons();
---

<Layout title="Welcome to Astro.">
	<main>
		<Header
		title="PokeDex"
		/>
		<div class="card_container">
			{
				data.map(
					(pokemon:any) =>(
					<PokemonCard
					title={pokemon.name}
					href={pokemon.url}
					/>
					)
				)
			}
		</div>
		
	</main>
</Layout>

